<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>png/background_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,264},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>png/background_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,312},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>png/background_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,312},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>png/background_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,331},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>png/background_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,331},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>png/background_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,358},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>png/balloon_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,89},{48,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,121}</string>
			</dict>
			<key>png/balloon_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,141},{48,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,121}</string>
			</dict>
			<key>png/balloon_1_pop.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,193},{42,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,117}</string>
			</dict>
			<key>png/balloon_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,211},{48,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,121}</string>
			</dict>
			<key>png/balloon_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,211},{48,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,121}</string>
			</dict>
			<key>png/balloon_2_pop.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,220},{42,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,117}</string>
			</dict>
			<key>png/balloon_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,263},{48,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,121}</string>
			</dict>
			<key>png/balloon_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,263},{48,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,121}</string>
			</dict>
			<key>png/balloon_3_pop.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,239},{42,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,117}</string>
			</dict>
			<key>png/balloon_4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,315},{48,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,121}</string>
			</dict>
			<key>png/balloon_4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,315},{48,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,121}</string>
			</dict>
			<key>png/balloon_4_pop.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,266},{42,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,117}</string>
			</dict>
			<key>png/balloon_5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,2},{48,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,121}</string>
			</dict>
			<key>png/balloon_5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,2},{48,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,121}</string>
			</dict>
			<key>png/balloon_5_pop.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,285},{42,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,117}</string>
			</dict>
			<key>png/balloon_6_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,2},{48,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,121}</string>
			</dict>
			<key>png/balloon_6_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,54},{48,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,121}</string>
			</dict>
			<key>png/balloon_6_pop.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,210},{42,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,117}</string>
			</dict>
			<key>png/balloon_die_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,102},{48,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,121}</string>
			</dict>
			<key>png/balloon_die_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,106},{48,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,121}</string>
			</dict>
			<key>png/balloon_die_pop.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,231},{42,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,117}</string>
			</dict>
			<key>png/balloon_life_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,154},{48,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,121}</string>
			</dict>
			<key>png/balloon_life_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,127},{48,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,121}</string>
			</dict>
			<key>png/balloon_life_pop.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,256},{42,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,117}</string>
			</dict>
			<key>png/balloon_pluslife_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,158},{48,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,121}</string>
			</dict>
			<key>png/balloon_pluslife_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,179},{48,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,121}</string>
			</dict>
			<key>png/balloon_pluslife_pop.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,264},{42,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,117}</string>
			</dict>
			<key>png/balloon_score_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,168},{48,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,121}</string>
			</dict>
			<key>png/balloon_score_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,168},{48,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,121}</string>
			</dict>
			<key>png/balloon_score_pop.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,293},{42,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,117}</string>
			</dict>
			<key>png/gameover_boom.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{274,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,205}</string>
			</dict>
			<key>png/gameover_btn_home.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,369},{44,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,39}</string>
			</dict>
			<key>png/gameover_btn_leaderboards.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,369},{44,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,39}</string>
			</dict>
			<key>png/gameover_btn_reload.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,206},{108,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,54}</string>
			</dict>
			<key>png/gameover_btn_share.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,388},{44,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,39}</string>
			</dict>
			<key>png/gameover_lbl_gameover.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,2},{144,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,96}</string>
			</dict>
			<key>png/gameover_newrecord.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,2},{173,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,83}</string>
			</dict>
			<key>png/life_pop.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,231},{34,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,47}</string>
			</dict>
			<key>png/life.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,388},{31,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,45}</string>
			</dict>
			<key>png/title_screen_ballon_pop.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,88},{76,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,171}</string>
			</dict>
			<key>png/title_screen_ballon.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,2},{82,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,173}</string>
			</dict>
			<key>png/title_screen_name.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,89},{265,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{265,46}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>spritesheet.png</string>
			<key>realTextureFileName</key>
			<string>spritesheet.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>