<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>png/background_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1391},{254,254}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,254}</string>
			</dict>
			<key>png/background_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,1391},{254,254}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,254}</string>
			</dict>
			<key>png/background_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,1391},{254,254}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,254}</string>
			</dict>
			<key>png/background_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,1391},{254,254}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,254}</string>
			</dict>
			<key>png/background_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1259,1509},{254,254}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,254}</string>
			</dict>
			<key>png/background_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1519,1509},{254,254}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,254}</string>
			</dict>
			<key>png/balloon_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2889,463},{226,575}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,575}</string>
			</dict>
			<key>png/balloon_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3662,823},{226,575}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,575}</string>
			</dict>
			<key>png/balloon_1_pop.png</key>
			<dict>
				<key>frame</key>
				<string>{{3894,823},{198,554}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,554}</string>
			</dict>
			<key>png/balloon_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2368,664},{226,575}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,575}</string>
			</dict>
			<key>png/balloon_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2600,664},{226,575}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,575}</string>
			</dict>
			<key>png/balloon_2_pop.png</key>
			<dict>
				<key>frame</key>
				<string>{{3894,1383},{198,554}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,554}</string>
			</dict>
			<key>png/balloon_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2832,695},{226,575}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,575}</string>
			</dict>
			<key>png/balloon_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3413,895},{226,575}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,575}</string>
			</dict>
			<key>png/balloon_3_pop.png</key>
			<dict>
				<key>frame</key>
				<string>{{3877,1943},{198,554}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,554}</string>
			</dict>
			<key>png/balloon_4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3645,1404},{226,575}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,575}</string>
			</dict>
			<key>png/balloon_4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2832,927},{226,575}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,575}</string>
			</dict>
			<key>png/balloon_4_pop.png</key>
			<dict>
				<key>frame</key>
				<string>{{3877,2503},{198,554}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,554}</string>
			</dict>
			<key>png/balloon_5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2832,1159},{226,575}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,575}</string>
			</dict>
			<key>png/balloon_5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2368,1245},{226,575}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,575}</string>
			</dict>
			<key>png/balloon_5_pop.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,983},{198,554}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{198,554}</string>
			</dict>
			<key>png/balloon_6_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2600,1245},{226,575}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,575}</string>
			</dict>
			<key>png/balloon_6_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2832,1391},{226,575}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,575}</string>
			</dict>
			<key>png/balloon_6_pop.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,983},{198,554}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{198,554}</string>
			</dict>
			<key>png/balloon_die_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3413,1476},{226,575}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,575}</string>
			</dict>
			<key>png/balloon_die_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3645,1985},{226,575}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,575}</string>
			</dict>
			<key>png/balloon_die_pop.png</key>
			<dict>
				<key>frame</key>
				<string>{{1292,1101},{198,554}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{198,554}</string>
			</dict>
			<key>png/balloon_life_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2832,1623},{226,575}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,575}</string>
			</dict>
			<key>png/balloon_life_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1314,405},{226,575}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,575}</string>
			</dict>
			<key>png/balloon_life_pop.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1187},{198,554}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{198,554}</string>
			</dict>
			<key>png/balloon_pluslife_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1895,405},{226,575}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,575}</string>
			</dict>
			<key>png/balloon_pluslife_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1314,637},{226,575}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,575}</string>
			</dict>
			<key>png/balloon_pluslife_pop.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,1187},{198,554}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{198,554}</string>
			</dict>
			<key>png/balloon_score_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1314,869},{226,575}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,575}</string>
			</dict>
			<key>png/balloon_score_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1895,986},{226,575}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,575}</string>
			</dict>
			<key>png/balloon_score_pop.png</key>
			<dict>
				<key>frame</key>
				<string>{{1275,1305},{198,554}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{198,554}</string>
			</dict>
			<key>png/gameover_boom.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{1305,974}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1305,974}</string>
			</dict>
			<key>png/gameover_btn_home.png</key>
			<dict>
				<key>frame</key>
				<string>{{3470,463},{210,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,186}</string>
			</dict>
			<key>png/gameover_btn_leaderboards.png</key>
			<dict>
				<key>frame</key>
				<string>{{3470,679},{210,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,186}</string>
			</dict>
			<key>png/gameover_btn_reload.png</key>
			<dict>
				<key>frame</key>
				<string>{{2368,401},{515,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{515,257}</string>
			</dict>
			<key>png/gameover_btn_share.png</key>
			<dict>
				<key>frame</key>
				<string>{{1043,1436},{210,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,186}</string>
			</dict>
			<key>png/gameover_lbl_gameover.png</key>
			<dict>
				<key>frame</key>
				<string>{{2973,3},{683,454}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{683,454}</string>
			</dict>
			<key>png/gameover_newrecord.png</key>
			<dict>
				<key>frame</key>
				<string>{{1314,3},{823,396}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{823,396}</string>
			</dict>
			<key>png/life_pop.png</key>
			<dict>
				<key>frame</key>
				<string>{{1123,983},{163,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,226}</string>
			</dict>
			<key>png/life.png</key>
			<dict>
				<key>frame</key>
				<string>{{1123,1215},{146,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,215}</string>
			</dict>
			<key>png/title_screen_ballon_pop.png</key>
			<dict>
				<key>frame</key>
				<string>{{3662,3},{363,814}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{363,814}</string>
			</dict>
			<key>png/title_screen_ballon.png</key>
			<dict>
				<key>frame</key>
				<string>{{2143,3},{392,824}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{392,824}</string>
			</dict>
			<key>png/title_screen_name.png</key>
			<dict>
				<key>frame</key>
				<string>{{2143,401},{1258,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1258,219}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>spritesheet.png</string>
			<key>realTextureFileName</key>
			<string>spritesheet.png</string>
			<key>size</key>
			<string>{4096,4096}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4096</integer>
			<key>height</key>
			<integer>4096</integer>
		</dict>
	</dict>
</plist>
